body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1300px;
  margin: 0px auto;
  padding: 0px;
}

.row {
  clear: both;
  overflow: auto;
}

.col-1 {
  width: 78.33333px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-1 {
  margin-left: 108.33333px !important;
}

.col-2 {
  width: 186.66667px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-2 {
  margin-left: 216.66667px !important;
}

.col-3 {
  width: 295px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-3 {
  margin-left: 325px !important;
}

.col-4 {
  width: 403.33333px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-4 {
  margin-left: 433.33333px !important;
}

.col-5 {
  width: 511.66667px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-5 {
  margin-left: 541.66667px !important;
}

.col-6 {
  width: 620px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-6 {
  margin-left: 650px !important;
}

.col-7 {
  width: 728.33333px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-7 {
  margin-left: 758.33333px !important;
}

.col-8 {
  width: 836.66667px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-8 {
  margin-left: 866.66667px !important;
}

.col-9 {
  width: 945px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-9 {
  margin-left: 975px !important;
}

.col-10 {
  width: 1053.33333px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-10 {
  margin-left: 1083.33333px !important;
}

.col-11 {
  width: 1161.66667px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-11 {
  margin-left: 1191.66667px !important;
}

.col-12 {
  width: 1270px;
  padding: 10px;
  margin: 5px;
  position: relative;
  float: left;
}

.col-offset-12 {
  margin-left: 1300px !important;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0px !important;
  }
  .container {
    max-width: 600px;
    margin: 5px auto;
    padding: 10px;
  }
  .col-1 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-1 {
    margin: 0px !important;
  }
  .col-2 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-2 {
    margin: 0px !important;
  }
  .col-3 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-3 {
    margin: 0px !important;
  }
  .col-4 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-4 {
    margin: 0px !important;
  }
  .col-5 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-5 {
    margin: 0px !important;
  }
  .col-6 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-6 {
    margin: 0px !important;
  }
  .col-7 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-7 {
    margin: 0px !important;
  }
  .col-8 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-8 {
    margin: 0px !important;
  }
  .col-9 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-9 {
    margin: 0px !important;
  }
  .col-10 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-10 {
    margin: 0px !important;
  }
  .col-11 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-11 {
    margin: 0px !important;
  }
  .col-12 {
    width: 600px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    display: block;
  }
  .col-offset-12 {
    margin: 0px !important;
  }
  img {
    display: block;
  }
  .logo {
    height: 80px;
  }
  .logo,
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #fff;
  }
  .menu::after {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-weight: 900;
    background-color: #fff;
    display: block;
    line-height: 80px;
    text-align: center;
    width: 80px;
    height: 80px;
  }
  .about-area-two {
    padding: 0px;
    margin: 111px auto;
    max-width: 600px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-content,
  .about-img {
    display: block;
    width: 600px;
    margin: 0px auto;
    padding: 0px;
  }
  .navigation {
    display: block;
    width: 100%;
  }
  nav ul {
    display: none;
    position: fixed;
    width: auto;
    padding: 0px;
    margin: 0px;
    margin: 81px auto;
    z-index: 99998;
  }
  nav ul li {
    display: block;
    position: relative;
    color: #fff;
    background-color: #6d6d6d;
  }
  nav ul li a {
    text-align: center;
  }
  .n-a {
    display: block;
  }
  .naf-img,
  .nsc-img {
    box-sizing: border-box;
    display: block;
  }
  .naf-img img {
    max-width: 300px;
    height: 300px;
    margin: 0px;
    display: block;
  }
  .naf-img img:hover {
    transform: none;
  }
  .hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #333333;
    border-right-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #333333;
    background-color: #333333;
    width: 80%;
  }
  .nsc-img img {
    height: 303px;
  }
  .product-info .product-code {
    margin: 0px;
    padding: 0px !important;
  }
  .product-info img {
    width: 151px;
    height: 80px;
    margin: 22px 50px;
    padding: 0px !important;
  }
  a.na-button {
    text-align: center;
    display: block;
    margin: 0px auto;
  }
  .testimonial-content {
    margin: 0px;
  }
  .call-to-action-text {
    color: white;
    margin-bottom: 10px;
  }
  .call-to-action-box {
    display: block;
    text-align: center;
    border-radius: 50px;
    margin: 10px;
    padding: 22px;
  }
  input {
    border-radius: 100px;
    padding: 0px;
    margin-left: -40px;
    margin-right: 10px;
  }
  .counter-number {
    margin: 0px 0px 100px 0px;
  }
  footer {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 500px;
  }
  .col-1 {
    width: 500px;
  }
  .col-2 {
    width: 500px;
  }
  .col-3 {
    width: 500px;
  }
  .col-4 {
    width: 500px;
  }
  .col-5 {
    width: 500px;
  }
  .col-6 {
    width: 500px;
  }
  .col-7 {
    width: 500px;
  }
  .col-8 {
    width: 500px;
  }
  .col-9 {
    width: 500px;
  }
  .col-10 {
    width: 500px;
  }
  .col-11 {
    width: 500px;
  }
  .col-12 {
    width: 500px;
  }
  .about-content,
  .about-img {
    width: 500px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .col-1 {
    width: 375px;
  }
  .col-2 {
    width: 375px;
  }
  .col-3 {
    width: 375px;
  }
  .col-4 {
    width: 375px;
  }
  .col-5 {
    width: 375px;
  }
  .col-6 {
    width: 375px;
  }
  .col-7 {
    width: 375px;
  }
  .col-8 {
    width: 375px;
  }
  .col-9 {
    width: 375px;
  }
  .col-10 {
    width: 375px;
  }
  .col-11 {
    width: 375px;
  }
  .col-12 {
    width: 375px;
  }
  .about-content,
  .about-img {
    width: 375px;
  }
  .call-to-action-text {
    margin-bottom: 0px;
  }
  .call-to-action-box {
    margin: 0px;
    padding: 22px;
  }
  input {
    border-radius: 100px;
    padding: 0px;
    margin: 10px -10px 0px -60px;
  }
}
/*# sourceMappingURL=grid960.css.map */